body {
    color: rgb(0, 0, 0);
    background-color: rgb(231, 163, 163);
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

header img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid #f01f03;
}

.center {
    text-align: center;
}

h1 {
    color: #daf542;
}

footer {
    display: flex;
    justify-content: center;
}

footer p {
    margin-top: 2px;
    text-align: center;
}

footer img {
    padding: 0px 30px;
}

nav a:hover {
    color: #f58242;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.contact-form input[type=text] {
    height: 100px;
}

button {
    color: black;
    background-color: white;
    border: none;
    width: 130px;
    height: 30px;
}
